* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(40, 38, 38);
}
@import "_vars";
@import "_fonts";
@import "_responsive";